priority 0

snippet skeletonCpp "Skeleton of cpp file" b
#include <iostream>
${1:inc}
using namespace std;

${0}
endsnippet

snippet skeletonH "Skeleton of head file" b
#pragma once

${0}
endsnippet

snippet hwkh "CPSC131 homework head"
/*************************
  Eryu Suo
  Homework ${1:num}: ${2:Name}
  Date Due: ${3}
  Compiler Used: Visual Studio 2012 Express
  Description of problem
  ${4}
 **************************/
${0}
endsnippet
