priority 0

snippet map "Map type" i
map[${1:keytype}]${2:valtype}
endsnippet

snippet testcase
type $1TestCase struct {
	${2:input} ${3:[]int}
	expect ${4:int}
}

func Test${5:$1}(t *testing.T) {
	testCases := []$1TestCase{
		$1TestCase{$6},
	}
	for _, tc := range testCases {
		if out := ${5:$1}(tc.$2$0); out != tc.expect {
			t.Errorf("%v: expect %v got %v", tc.$2, tc.expect, out)
		}
	}
}
endsnippet
