priority 0

snippet ita
_$1_$0
endsnippet

snippet bf
*$1*$0
endsnippet

snippet -- "Split"
---------------
${0}
endsnippet

snippet lk "link"
[[${1:link}|${2:name}]]${0}
endsnippet

snippet cb "Code Block"
{{{${1:language}
$0
}}}
endsnippet

snippet go "Golong Block"
{{{go
$0
}}}
endsnippet

snippet sh "Shell Block"
{{{go
$0
}}}
endsnippet
